<header>
  <h1>Lista de Presença</h1>
  <h2>Aula de: <%= @aula['data_aula'].strftime('%d/%m/%Y') %></h2>
  <p><%= @aula['descricao'] %></p>
  <a href="/aulas" class="btn-voltar">Voltar para Todas as Aulas</a>
</header>

<section class="list-section">
  <form action="/aulas/<%= @aula['id'] %>/presencas" method="POST">
    <table>
      <thead>
        <tr>
          <th>Presente?</th>
          <th>Nome do Aluno</th>
        </tr>
      </thead>
      <tbody>
        <% @lista_presenca.each do |aluno| %>
          <tr>
            <td>
              <input type="checkbox"
                     name="presentes[]"
                     value="<%= aluno['id'] %>"
                     <%= 'checked' if aluno['presente'] == 1 %>>
            </td>
            <td><%= aluno['nome'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <button type="submit" class="btn-salvar-presenca">
      Salvar Lista de Presença
    </button>
  </form>
</section>
