<header>
    <h1>Editar Aluno: <%= @aluno['nome'] %></h1>
</header>

<section class="form-section">
    <form action="/alunos/<%= @aluno['id'] %>" method="POST">
      <input type="hidden" name="_method" value="PUT">

      <label for="nome">Nome Completo:</label>
      <input type="text" id="nome" name="nome" value="<%= @aluno['nome'] %>" required>
      
      <label for="cor_faixa">Faixa:</label>
      <select name="cor_faixa" id="cor_faixa">
        <% @faixas.each do |faixa| %>
          <option value="<%= faixa %>" <%= 'selected' if @aluno['cor_faixa'] == faixa %>><%= faixa %></option>
        <% end %>
      </select>

      <label for="data_nascimento">Data de Nascimento:</label>
      <input type="date" id="data_nascimento" name="data_nascimento" value="<%= @aluno['data_nascimento'].strftime('%Y-%m-%d') %>">

      <label for="turma">Turma:</label>
      <select name="turma" id="turma">
        <% @turmas.each do |turma| %>
          <option value="<%= turma %>" <%= 'selected' if @aluno['turma'] == turma %>><%= turma %></option>
        <% end %>
      </select>

      <div class="checkbox-container">
        <input type="checkbox" id="bolsista" name="bolsista" <%= 'checked' if @aluno['bolsista'] == 1 %>>
        <label for="bolsista">Este aluno é bolsista?</label>
      </div>

      <h3 class="form-title">Anamnese</h3>

      <label for="saude_problema">Tem algum problema de saúde?</label>
      <textarea id="saude_problema" name="saude_problema" rows="3"><%= @aluno['saude_problema'] %></textarea>
      
      <label for="saude_medicacao">Toma alguma medicação?</label>
      <textarea id="saude_medicacao" name="saude_medicacao" rows="3"><%= @aluno['saude_medicacao'] %></textarea>
      
      <label for="saude_lesao">Já teve alguma lesão?</label>
      <textarea id="saude_lesao" name="saude_lesao" rows="3"><%= @aluno['saude_lesao'] %></textarea>
      
      <label for="saude_substancia">Faz ou já fez uso de alguma substância?</label>
      <textarea id="saude_substancia" name="saude_substancia" rows="3"><%= @aluno['saude_substancia'] %></textarea>

      <button type="submit">Salvar Alterações</button>
      <a href="/alunos/<%= @aluno['id'] %>" class="btn-cancelar">Cancelar</a>
    </form>
</section>
